<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定该xml文件对应的接口 -->
<!-- 一个xml文件只对应一个接口 -->
<mapper namespace="com.kao.server.mapper.LoginMapper">

	<insert id="addOne">
		INSERT INTO user AS u
		(u.uid,u.username,u.password,u.salt,u.phone,u.email,u.identity ,u.name ,u.birthday,u.sex,u.account_type)
		VALUES
		(#{uid},#{username},#{password},#{salt},#{phone},#{email},#{identity},#{name},
		 #{birthday},#{sex},#{account_type})
	</insert>
	<update id="updatePassword">
		UPDATE user AS u SET u.password = #{newPassword}
		WHERE u.username = #{username}
	</update>

	<select id="findUserByUsername" resultType="com.kao.server.entity.User">
		SELECT u.* from user AS u where u.username=#{username}
	</select>

	<select id="findUserNameByUsername" resultType="com.kao.server.entity.User">
		SELECT u.* from user AS u where username=#{username}
	</select>
	<select id="findPhoneNumberByPhoneNumber" resultType="java.lang.String">
		SELECT u.phone FROM user AS u WHERE u.phone=#{phoneNumber}
	</select>
</mapper>
