<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kao.server.mapper.AdminMapper">
    <insert id="uploadEvaluationResult">
        INSERT INTO evaluation AS e(
        cid,
        mid,
        round,
        adminId,
        result,
        updateTime
        )
        VALUES
        <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
            #{item.cid},
            #{item.mid},
            #{item.round},
            #{item.adminId},
            #{item.result},
            CURRENT_TIMESTAMP
        </foreach>
    </insert>

    <update id="updateEvaluationResult">
        UPDATE evaluation AS e
        SET e.result     = #{result},
            e.admin_id=#{adminId},
            e.update_time=CURRENT_TIMESTAMP
        WHERE e.cid = #{cid}
          AND e.mid = #{mid}
          AND e.round = #{round}
    </update>

    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.kao.server.entity.Admin">
        SELECT a.*
        FROM admin AS a
        WHERE a.username = #{username}
    </select>

    <select id="findEvaluationByRound" resultType="com.kao.server.dto.AdminViewEvaluation">
        SELECT a.mname, a.mid, a.cname, a.cid, a.result
        FROM admin_view_evaluation AS a
        WHERE a.round = #{round};
    </select>

    <insert id="uploadNews">
        INSERT INTO news(cid, date, admin_id, title, content, image, official_link, update_time)
        VALUES (#{news.cid},
                #{news.date},
                #{adminId},
                #{news.title},
                #{news.content},
                #{news.image},
                #{news.officialLink},
                now())
    </insert>

    <insert id="updateNews">
        INSERT INTO news(cid, date, admin_id, title, content, image, official_link, update_time)
        VALUES (#{news.cid},
                #{news.date},
                #{adminId},
                #{news.title},
                #{news.content},
                #{news.image},
                #{news.officialLink},
                now())
        ON DUPLICATE KEY UPDATE title         = #{news.title},
                                content       = #{news.content},
                                image         = #{news.image},
                                official_link = #{news.officialLink},
                                admin_id      = #{adminId},
                                update_time   = now()
    </insert>

    <select id="queryNews" resultType="com.kao.server.dto.NewsBase">
        SELECT *
        FROM news
        ORDER BY update_time DESC
    </select>

</mapper>
