<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定该xml文件对应的接口 -->
<!-- 一个xml文件只对应一个接口 -->
<mapper namespace="com.kao.server.mapper.AdminMapper">



    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.kao.server.entity.Admin">
        SELECT a.*
        From admin AS a
        WHERE a.username = #{username}
    </select>

</mapper>
