<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kao.server.mapper.BaseQueryMapper">
    <select id="queryEvaluation" resultType="com.kao.server.dto.EvaluationBase">
        SELECT cid, mid, result, round
        FROM evaluation
        where round = #{round};
    </select>

    <select id="queryLatestEvaluation" resultType="com.kao.server.dto.EvaluationBase">
        SELECT cid, mid, result, round
        FROM evaluation
        where round = (
            SELECT MAX(round)
            FROM evaluation
        );
    </select>
    <select id="queryLatestNews" resultType="com.kao.server.dto.NewsBase">
        SELECT cid, date, title, content, image, official_link
        FROM news
        ORDER BY date DESC
        LIMIT #{limit};
    </select>
    <select id="queryCollege" resultType="com.kao.server.entity.College">
        SELECT cid, cname, location, level, introduction, type
        FROM college
        where cid in
        <foreach collection="cidList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
    <select id="queryTutor" resultType="com.kao.server.dto.TutorRoleBaseWithName">
        SELECT cid,
               mid,
               tid,
               u.uid,
               name,
               contact_phone,
               contact_email,
               research
        FROM tutor_role
                 join user u on u.uid = tutor_role.uid
        WHERE cid = #{cid};
    </select>
    <select id="querySummerCamp" resultType="com.kao.server.dto.SummerCampMessage">
        SELECT s.title,
               s.image,
               s.official_link,
               s.content,
               s.date
        FROM summer_camp_message AS s
    </select>
    <select id="queryExemption" resultType="com.kao.server.dto.ExemptionMessage">
        SELECT e.title,
               e.image,
               e.official_link,
               e.content,
               e.date
        FROM exemption_message AS e
    </select>
    <select id="queryAcceptanceRate" resultType="com.kao.server.dto.AcceptanceRateMessage">
        SELECT l.cid,
               l.year,
               l.total,
               l.enrollment,
               l.exemption,
               l.exemption_rate,
               l.enrollment_rate
        FROM latest_acceptance_rate AS l
        WHERE l.cid = #{cid}
    </select>
    <select id="queryLatestCollegeRank" resultType="com.kao.server.dto.LatestCollegeRank">
        SELECT c.rank_from,
               c.rank,
               c.date
        FROM college_rank_message AS c
        WHERE c.cid = #{cid}
    </select>
</mapper>
