<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定该xml文件对应的接口 -->
<!-- 一个xml文件只对应一个接口 -->
<mapper namespace="com.kao.server.mapper.LoginMapper">

    <insert id="addOne">
        INSERT INTO user (uid, username, password, salt, phone, email, identity, name,
                          birthday, sex, account_type, register_time, latest_login_time, latest_login_location)
        VALUES (#{uid}, #{username}, #{password}, #{salt}, #{phone}, #{email}, #{identity}, #{name},
                #{birthday}, #{sex}, #{accountType}, #{registerTime}, #{latestLoginTime}, #{latestLoginLocation})
    </insert>

    <update id="updatePassword">
        UPDATE user AS u
        SET u.password = #{newPassword}
        WHERE u.username = #{username}
    </update>

    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.kao.server.entity.User">
        SELECT u.*
        From user AS u
        WHERE u.username = #{username}
    </select>

    <select id="findUserNameByUsername" parameterType="java.lang.String" resultType="com.kao.server.entity.User">
        SELECT u.*
        FROM user AS u
        WHERE u.username = #{username}
    </select>

    <select id="findPhoneNumberByPhoneNumber" resultType="java.lang.String">
        SELECT u.phone
        FROM user AS u
        WHERE u.phone = #{phoneNumber}
    </select>
</mapper>
