<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kao.server.mapper.MetaQueryMapper">
    <select id="queryCollegeIdAndName" resultType="com.kao.server.dto.CollegeIdAndName">
        SELECT cid, cname
        FROM college;
    </select>

    <select id="queryDiscipline" resultType="com.kao.server.entity.Discipline">
        SELECT did, dname
        FROM discipline;
    </select>

    <select id="queryMajor" resultType="com.kao.server.entity.Major">
        SELECT mid, mname, did
        FROM major;
    </select>

    <select id="queryRound" resultType="java.lang.Integer">
        SELECT DISTINCT round
        FROM evaluation;
    </select>

    <select id="queryRank" resultType="com.kao.server.dto.RankBase">
        SELECT rid,rank_from FROM rank_list;
    </select>
</mapper>
