<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定该xml文件对应的接口 -->
<!-- 一个xml文件只对应一个接口 -->
<mapper namespace="com.kao.server.mapper.StudentMapper">

    <update id="updateStudentMsg">
        UPDATE student_role AS s
        SET s.contact_phone   = #{msg.phoneNumber},
            s.contact_email   = #{msg.email},
            s.cid             = (SELECT c.cid FROM college AS c WHERE c.cname = #{msg.college}),
            s.mid             = (SELECT m.mid FROM major AS m WHERE m.mname = #{msg.major}),
            s.graduation_date = #{msg.graduationDate},
            s.expected        = #{msg.expectedMajor},
            s.queryable       = #{msg.queryable}
        WHERE s.uid = #{uid};

    </update>

    <select id="findStudentById" resultType="com.kao.server.dto.StudentMessage">
        SELECT *
        FROM studentmsg AS s
        WHERE s.uid = #{uid};
    </select>

</mapper>
