<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定该xml文件对应的接口 -->
<!-- 一个xml文件只对应一个接口 -->
<mapper namespace="com.kao.server.mapper.TutorMapper">
    <update id="updatePhone">
        UPDATE tutor_role AS t SET t.contact_phone = #{phone} WHERE t.uid=#{uid}
    </update>
    <update id="updateEmail">
        UPDATE tutor_role AS t SET t.contact_email = #{email} WHERE t.uid=#{uid}
    </update>
    <update id="updateCollege">
        UPDATE tutor_role AS t SET t.cid = (SELECT c.cid FROM college AS c WHERE c.cname = #{college})
        WHERE t.uid=#{uid}
    </update>
    <update id="updateMajor">
        UPDATE tutor_role AS t SET t.mid = (SELECT m.mid FROM major AS m WHERE m.mname = #{major})
        WHERE t.uid=#{uid}
    </update>
    <update id="updateResearch">
        UPDATE tutor_role AS t SET t.research = #{research} WHERE t.uid=#{uid}
    </update>


    <select id="findTutorById" resultType="com.kao.server.dto.TutorMessage">
        SELECT * FROM tutormsg AS t WHERE t.uid = #{uid};
    </select>
    <select id="getQueryableStudentByConditions" resultType="com.kao.server.dto.QueryableStudentMessage">
        SELECT * FROM queryable_student_list
        <where>
            <if test="beginDate!=null">
                graduation_date &gt; #{beginDate}
            </if>
            <if test="endDate!=null">
                AND graduation_date &lt; #{endDate}
            </if>
            <if test="CollegeLevel!=null">
                AND level LIKE '%${CollegeLevel}%'
            </if>
            <if test="major!=null">
                AND major = #{major}
            </if>
            <if test="expectedMajor!=null">
                AND expected_major LIKE '%${expectedMajor}%'
            </if>
        </where>
    </select>

</mapper>
