<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定该xml文件对应的接口 -->
<!-- 一个xml文件只对应一个接口 -->
<mapper namespace="com.kao.server.mapper.UserMapper">

    <update id="updatePhone">
        UPDATE user AS u
        SET u.phone = #{phoneNumber}
        WHERE u.uid = #{uid};
    </update>

    <update id="updateEmail">
        UPDATE user AS u
        SET u.email = #{email}
        WHERE u.uid = #{uid};
    </update>

    <update id="updateAccountType">
        UPDATE user AS u
        SET u.account_type = #{accountType}
        WHERE u.uid = #{uid};
    </update>

    <select id="findUserByUserId" resultType="com.kao.server.entity.User">
        SELECT u.*
        FROM user AS u
        WHERE u.uid = #{userId}
    </select>

    <select id="getNotVerifiedUserMessageById" resultType="com.kao.server.dto.UserMessage">
        SELECT *
        FROM not_verified_user AS n
        WHERE n.uid = #{uid};
    </select>

    <select id="getStudentUserMessageById" resultType="com.kao.server.dto.UserMessage">
        SELECT *
        FROM user_stu AS u
        WHERE u.uid = #{uid};
    </select>

    <select id="getTutorUserMessageById" resultType="com.kao.server.dto.UserMessage">
        SELECT *
        FROM user_teacher AS u
        WHERE u.uid = #{uid};
    </select>

</mapper>
