<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kao.server.mapper.VerificationMapper">
    <insert id="studentAuth">
        INSERT INTO student_role(uid, cid, sid)
        VALUES (#{uid}, #{cid}, #{sid})
    </insert>
    <insert id="tutorAuth">
        INSERT INTO tutor_role(uid, cid, tid)
        VALUES (#{uid}, #{cid}, #{tid})
    </insert>
    <update id="realAuth">
        UPDATE user
        SET identity = #{identity},
            name     = #{name}
        WHERE uid = #{uid}
    </update>
    <update id="studentAuthVerified">
        CALL student_auth_verified(#{uid})
    </update>
    <update id="tutorAuthVerified">
        CALL tutor_auth_verified(#{uid})
    </update>
</mapper>
